.axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

button {
    position: fixed;
    top: 30px;
    left: 30px;
}

.box {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}